<!DOCTYPE >

<html >

<head>

    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>小舞的仙女舞姿</title>
    <style type="text/css">
        .pic1
        {  background-image: url("src/3.jpg");
            background-repeat: no-repeat;
            object-fit:cover;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-size: 100% 100%;
        }

    </style>
</head>

<body>
  <div class="pic1">
      <a href="tangsan.html">返回上一页</a>
      <br>
      <a href="index.html">返回首页</a>
  </div>


</body>


</html>