<!DOCTYPE >

<html >

<head>

<meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>唐三的帅气面容</title>

<style type="text/css">
 .pic1{
  background-image: url("src/1.jpeg") ;
  background-repeat: no-repeat;
  object-fit:cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: 100% 100%;

 }
 .body{
    background-color: #26bcff;
 }





</style>

</head>



<body class="body">
 <div class="pic1">
  <a href="next.html" target="_blank">查看小舞的外貌</a>
  <br>
  <a href="index.html">返回首页</a>
 </div>











</body>

</html>

